
/* base styles */
* {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}

h1 {
  color: black;
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid silver;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}